@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
  font-family: "Zarathustra";
  src: url("./fonts/zarathustra.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-main: white;
  --text-dark: black;

  --bg: #eafff82e;
  --border: rgba(255, 255, 255, 0.22);
  --bg-topbar: rgba(11, 52, 72, 0.8);
  --bg-sidebar: #dceee8a6;
  --bg-notes: #f6fff8;

  --blue: #5fa8c9;
  --gold: #d8ad52;
  --font-title: "Zarathustra", serif;
  --font-body: "Inter", sans-serif;
}

img {
  display: block;
  object-fit: cover;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--text-main);
  text-align: center;
  background-image: url("images/wallpaper.jpg");
  background-position: 75% 0%;
}

.top-bar {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 5vh;
  background-color: var(--bg-topbar);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid #d7f1e947;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 48px;
  user-select: none;
}

.window {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 35vw;
  border: 1px solid var(--border);
  border-radius: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg);
  backdrop-filter: blur(12px);
  user-select: none;
}

.window-handle {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 12px;
  background-color: var(--bg-topbar);
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  border-bottom: inherit;
  cursor: grab;
}

#welcome-window {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 26px;
}

#welcome-window .window-handle {
  position: static;
}

.main-window-content {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 48px;
  background-color: var(--bg-topbar);
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
}

.welcome-window-title {
  font-family: var(--font-title);
  font-size: 48px;
  color: transparent;
  background: linear-gradient(to right, white, var(--blue));
  background-clip: text;
}

#welcome-open-button {
  font-family: var(--font-title);
}

.close-button {
  border-color: var(--border);
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.open-button {
  cursor: pointer;
}

.header-text {
  font-family: var(--font-title);
}

/* Desktop icons */
.desktopApp-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--border);
  background-color: var(--bg);
  border-radius: 25%;
  padding: 12px;
  user-select: none;
}

/* Poseidon.md App styling */
#poseidon-md {
  width: 50vw;
  height: 60vh;
}

#poseidon-md-app {
  padding: 64px 0 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  font-size: 14px;
  gap: 8px;
}

.appIcon img {
  width: 56px;
  height: 56px;
}

.selected {
  background-color: var(--blue);
  border: 1px solid var(--gold);
}

.poseidon-md-sidebar {
  background-color: var(--bg-sidebar);
  color: var(--text-dark);
  width: 30%;
  height: 91.75%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  border-bottom-left-radius: 22px;
  padding: 20px;
  overflow-y: auto;
  overflow-wrap: anywhere;
  padding-top: 24px;
}

.poseidon-md-content {
  background-color: var(--bg-notes);
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 91.75%;
  border-bottom-right-radius: 22px;
  justify-content: flex-start;
  position: absolute;
  bottom: 0px;
  right: 0px;
  text-align: left;
  padding: 24px;
  overflow-y: auto;
}

.addnote {
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 12px;
  cursor: pointer;
  background-color: var(--bg-notes);
}

.addnote:active {
  transition: ease-in-out 0.1s;
  box-shadow: 0px 0px 3px 2px var(--bg-topbar) inset;
}

.entry {
  padding: 14px;
  margin-bottom: 16px;
  cursor: pointer;
  border-radius: 8px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.entrytitle {
  font-family: var(--font-title);
  font-size: 18px;
}

.entrydate {
  font-size: 12px;
}

.entry:hover {
  background-color: white;
  transition: ease-in-out 0.1s;
}

.active {
  background-color: white;
  border: 1px solid black;
  box-shadow: 5px 5px 0px 0px var(--bg-topbar);
}

.note-title {
  border: none;
  outline: none;
  margin-bottom: 28px;
  background-color: rgba(255, 255, 255, 0);
  font-size: 28px;
  font-family: var(--font-title);
}

.note-body {
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  margin-bottom: 10px;
  resize: none;
  width: auto;
  height: fit-content;
  font-family: inherit;
  flex: 1;
}

.note-delete {
  cursor: pointer;
  padding: 6px 12px;
  margin-top: 10px;
  font-size: 12px;
  border: none;
  background-color: var(--gold);
  color: var(--text-main);
  font-family: inherit;
  border-radius: 16px;
  width: 20%;
}

/* New app */

#poseidon-book {
  width: 50vw;
  height: 50vh;
  padding: 24px;
}

#poseidon-book-app {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  font-size: 14px;
  gap: 8px;
}

.poseidon-book-sidebar {
  color: black;
  background-color: var(--bg-sidebar);
  width: 30%;
  height: 90%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  border-bottom-left-radius: 22px;
  padding: 20px;
  overflow-y: auto;
  overflow-wrap: anywhere;
  padding-top: 24px;
}

.poseidon-book-content {
  color: black;
  background-color: var(--bg-notes);
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 90%;
  border-bottom-right-radius: 22px;
  justify-content: flex-start;
  position: absolute;
  bottom: 0px;
  right: 0px;
  text-align: left;
  padding: 24px;
  overflow-y: auto;
}

.poseidon-book-title {
  font-family: var(--font-title);
  font-size: 20px;
  margin-bottom: 4px;
}

.bookCard {
  padding: 16px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 8px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.bookCard:hover {
  background-color: white;
  transition: ease-in-out 0.1s;
}

.bookCard.selectedBook {
  box-shadow: 5px 5px 0px 0px var(--bg-topbar);
  background-color: white;
}

.bookCard .book-content-title {
  font-size: 32px;
  margin-bottom: 8px;
  font-family: var(--font-title);
  color: var(--text-dark);
}

.book-content-author {
  margin-bottom: 28px;
  font-size: 18px;
  color: var(--text-dark);
}

.book-content-body {
  font-size: 12px;
}
